body{
    background-color: #121212;
     color: #e0e0e0;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-align: center;
     padding-top: 50px;
}

h1{
 color: #00ff88;
 font-size: 3rem;
 text-transform: uppercase;
}

p{
    font-size: 1,5rem;
    color: #bb86fc;
}

